*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainWrapper {
    height:100vh;
    display:flex;
}

.navbar {
    width:16%;
    height:100vh;
    border-right: 1px solid #e6e5e5;
    padding-left: 10px;
}

.mainArea {
    display:flex;
    justify-content: center;
    gap:10px;
    width: 84%;
    padding:2rem 3rem;
    background-color: rgb(251, 251, 251);
}


.mainWrapper {
    font-family: sans-serif;
    width:100%;
    display:flex;
    justify-content: space-between;
}

.page-holder {
    display:flex;
    width:100%;
}
.logo img {
    height: 29px;
    width: 103px ;
    color:rgb(42, 40, 40);
    margin: 40px 6px 30px 14px;
    
}

.nav-icons img {
    width:25px;
    height:25px;
    border-radius: 50%;
    align-items: center;
}

.nav-icons > a{
    display: flex;
    flex-direction: row ;
    gap: 1rem;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
    padding: 15px 10px;
    border-radius: 20px ;
    /* border:1px solid black; */
    font-size:0.95rem;
    font-weight: 200;
    align-items: center;
}

.nav-icons > a > i {
    font-size: 1.5rem;
    color: rgb(51, 51, 51);
}

.nav-icons > a > p {
    color: rgb(7, 7, 7);
    
}


.More {
    margin-top: 140px;
}

.nav-icons > a:hover {
    background-color: rgb(251, 251, 251);
    border-radius: 20px;
    
}

.nav-icons-font {
    font-weight: 600;
} 

.reels {
    display:flex;
    flex-direction: column;
    gap:15px;
    width: 41%;
    height:100vh;
} 

.new-post {
    width:100%;
    height:12vh;
    background-color: white;
    border: 1px solid #e6e5e5;
    border-radius: 10px;
    display:flex;
    gap:8px;
    justify-content: space-around;
}
.new-post .userCard a {
    text-decoration: none;
}
.new-post .userCard {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;    
}

.imgWrapper img {
    width:60px;
    height:60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.imgWrapper {
    padding:5px;
    margin-top: 15px;
    background-image: url("../img/Instragram\ Background\ Cover.png");
    background-size:cover;
    background-position: center;
}

.updates {
    width:100%;
    height:80vh;
    background-color: white;
    border: 1px solid #e6e5e5;
    border-radius: 10px;
}

.userDetails .userHandle {
    font-size: 0.7rem;
    color:grey;
}

.side-bar{
    width: 30%;
    height:100vh;
    background-color: blue;
} 






