*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainWrapper {
    font-family: sans-serif;
    width:100%; 
    display:flex;
    /* flex-wrap: wrap;
    flex-grow: 3; */
    /* background-color: red; */
    background-color: rgb(251, 251, 251);
    justify-content: center;
    gap:10px;
    padding: 2rem 0rem 0 16rem;
}

.navbar {
    width:16%;
    height:100vh;
    border-right: 7px solid #e6e5e5;
    padding-left: 10px;
    background-color: white;
    position:fixed;
    /* flex-wrap: wrap;
    flex-grow: 1; */
    min-width:160px;
}

.logo img {
    height: 29px;
    width: 103px ;
    color:rgb(42, 40, 40);
    margin: 40px 6px 30px 14px;
}

.nav-icons img {
    width:25px;
    height:25px;
    border-radius: 50%;
    align-items: center;
}

.nav-icons > a{
    display: flex;
    flex-direction: row ;
    gap: 1rem;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
    padding: 15px 10px;
    border-radius: 20px ;
    font-size:0.95rem;
    font-weight: 200;
    align-items: center;
}

.nav-icons > a > i {
    font-size: 1.5rem;
    color: rgb(51, 51, 51);
}

.nav-icons > a > p {
    color: rgb(7, 7, 7);
    
}


.More {
    margin-top: 10rem;
}

.nav-icons > a:hover {
    background-color: rgb(251, 251, 251);
    border-radius: 20px;
    
}

.nav-icons-font {
    font-weight: 600;
} 

.reels {

    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* flex-grow: 0.1; */
    gap:15px;
    width: 40%;
    min-width: 300px;
    /* background-color: purple; */
    /* height:100vh; */
}


.new-post {
    width:100%;
    height:12vh;
    background-color: white;
    border: 1px solid #e6e5e5;
    border-radius: 10px;
    display:flex;
    /* flex-wrap: wrap; */
    gap:8px;
    justify-content: space-around;
}
.new-post .userCard a {
    text-decoration: none;
}
.new-post .userCard {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;    
}

.imgWrapper img {
    width:60px;
    height:60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.imgWrapper {
    padding:5px;
    margin-top: 15px;
    background-image: url("../img/Instragram\ Background\ Cover.png");
    background-size:cover;
    background-position: center;
}

.updates {
    width:100%;
    height:92vh;
    background-color: white;
    border: 1px solid #e6e5e5;
    border-radius: 10px;
}

.userDetails .userHandle {
    font-size: 0.7rem;
    color:grey;
}

.userCard-updates {
    display:flex;
    align-items: center;
    gap:10px;
    text-decoration: none;
}

.updateHeader {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;;
}

.updatesContainer {
    width:auto;
    height:55vh;
}

.updatesContainer img {
    width:100%;
    height:100%;
    object-fit:cover ;
    padding-bottom: 10px;
    
}

.insta-update-icons a img:hover {
    opacity: 50%;
}

.insta-icon{
    width:25px;
}

.insta-icon2{
    width:40px;
    background-color: white;
}

.insta-update-icons {
    display: flex;
    justify-content: space-between;
    padding:0px 12px;
}

.insta-update-icons1 {
    display:flex;
    gap:15px
}

.userCard-updates1 {
    display:flex;
    align-items: center;
    gap:10px;
    text-decoration: none;
    color: rgb(85, 83, 83);
    font-size: 0.8rem;
    margin-top:1rem;
    margin-left: 0.8rem;
}

.imgWrapper1 img {
    width:28px;
    height:28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    object-fit: cover;
}

.insta-update-footer  p {
    font-size: 0.8rem;
    margin-top:0.6rem;
    margin-left: 0.8rem;
    color: rgb(85, 83, 83);
}

.insta-update-footer  p:nth-of-type(3) {
    font-size: 0.6rem;
    margin-top:1.2rem;
}

.insta-update-footer  p:nth-of-type(1) a {
    text-decoration: none;
    color:rgb(85, 83, 83);
}
.insta-update-footer  p:nth-of-type(2) a {
    text-decoration: none;
    color:rgb(85, 83, 83);
}
.update-footer-comment {
    display:flex;
    margin-top:0.8rem;
    border-top:2px solid rgb( 247, 247, 247);
    padding:0.8rem;
    justify-content: space-around;
}

.update-footer-input {
    width:24rem;
    height:2rem;
    border: none;
}

.update-button {
    color:rgb(74, 114, 190);
    border: none;
}

.cursor {
    position: relative;
}
.cursor i {
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: gray;
    left: 5px;
    top: 10%;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    opacity: 1;
}

.cursor input:focus + i {
    display: none;
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

.side-bar{
    width: 26%;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    border:1px solid blue;
} 

.account-setting {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: grey;
    margin-bottom: -14px;
}

.account-setting1 {
    display:flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    gap:10px;
}

.account-setting a:nth-of-type(1){
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 600;
    color:rgb(34, 160, 233)

}

.suggestion { 
    display: flex;
    justify-content: space-between;
    margin:10px;
}
.suggest {
    color:rgb(68, 66, 66);
    font-size: 0.8rem;
}

.suggestion a{
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 600;
    color:rgb(36, 35, 35);

}

.suggestion p{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;
    color:grey;

}

.imgWrapper2 img {
    width:70px;
    height:70px;
    border-radius: 50%;
    padding:5px;
    margin-top: 15px;
}

.imgWrapper3 img {
    width:50px;
    height:50px;
    border-radius: 50%;
    padding:5px;
    margin-top: 15px;
}

.footer2 {
    color:rgb(201, 198, 198);
    font-size: 0.7rem;
    margin-top:40px;
    padding-left: 15px;
    font-weight: 600;
    line-height: 20px;
}

.footer2-sub {
    display:flex;
    flex-direction: row;
    gap:4px;
}

.footer2-sub a {
    text-decoration: none;
    color:rgb(201, 198, 198);
    word-spacing: 10px;
}

.footer2-sub a:hover {
    text-decoration:underline;
}

.copyright {
    margin-top: 20px;
    font-size: 0.8rem;
}







